.hero-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 3rem;

  @media(min-width: $breakpoint-classic-desktop) {
    width: 85%;
    margin-left: auto;
  }

  .hero-headline {
    font-family: "Wallnutt Corps", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 7rem;
    margin-bottom: -0.5rem;

    @media(min-width: $breakpoint-classic-desktop) {
      max-width: 100rem;
      font-size: 10rem;
      margin-top: 0rem;
    }

    .hero-highlight {
      background: $gradient-sunny-day;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  .hero-text {
    font-size: 1.5rem;
    line-height: 1.5;

    @media(min-width: $breakpoint-classic-desktop) {
      font-size: 1.8rem;
      width: 50rem;
    }
  }


  .hero-button {
    width: 7rem;
    text-align: center;
    padding: 0.8rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid transparent;
    border-image-source: $gradient-sunny-day;
    border-image-slice: 1;
    background: transparent;

    @media(min-width: $breakpoint-classic-desktop) {
      font-size: 1.8rem;
      width: 8rem;
      padding: 1.4rem 3rem;
      margin-top: 1rem;
    }

    &:hover {
      background: $gradient-sunny-day;
    }
  }
}